<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Новое изображение</title>
    </head>
    <body>
        <li><a href="{% url 'index' %}">Назад к списку</a></li>
        <h1>Новое изображение</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Отправить</button>
        </form>
    </body>
</html> 
