<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Список изображений</title>
        {% load static %}
    </head>
    <body>
        <h1>Список изображений</h1>
        {% if image_list %}
        {% for image in image_list %}
            <li><a href="{% url 'image_detail' image.id %}">{{ image.get_name }}</a></li>
        {% endfor %}
        {% else %}
            <p>Нет доступных изображений</p>
        {% endif %}
        <li><a href="{% url 'add_image' %}" >Добавить изображение</a></li>
    </body>
</html> 
